.span1 {
	color: green;
}

.red-span {
	color: red;
}

body {
	background-color: rgb(121, 103, 224);
	font-family: 'Montserrat';
	font-size: 19px;
	color: #4A4A4A;
	font-weight: 500;
}

.title {
	padding: 10px 10px 0px 10px;
	font-size: 45px;
	font-weight: 500;
}

.container {
	padding: 20px 15px 0px 15px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}