.present-continious {
	padding: 17px 0px 0px 0px;
}
.first-example{
	padding: 8px 10px 0px 10px;
}
.second-example{
	padding: 8px 10px 0px 10px;
}
.third-example{
	padding: 8px 10px 15px 10px;
}