@media(max-width: 1000px) {
    .title {
        font-size: 40px;
    }
    .formula {
        font-size: 22px;
    }
    .rule {
        font-size: 18px;
    }
    .first-example,
    .second-example,
    .third-example {
        font-size: 17px;
    }
}

@media(max-width: 900px) {
    .title {
        font-size: 32px;
    }
    .formula {
        font-size: 22px;
    }
    .rule {
        font-size: 17px;
    }
    .first-example,
    .second-example,
    .third-example {
        font-size: 17px;
    }
.present-simple,
.present-continious,
.past-simple,
.past-continious,
.present-perfect,
.past-perfect,
.past-perfect-continious,
.future-simple,
.future-continious{
	padding: 10px 0px 0px 0px;
}
.container{
	padding: 0px 10px 10px 10px;
}
}

@media(max-width: 637px) {
	.formula,.rule,.first-example,.second-example,.third-example{
		line-height: 20px;
	}
    .title {
        padding: 5px 5px 0px 10px;
        font-size: 28px;
    }
    .formula {
        font-size: 20px;
        padding: 5px 5px 0px 5px;
    }
    .rule {
        font-size: 16px;
        padding: 5px 5px 0px 5px;
    }
    .first-example,
    .second-example,
    .third-example {
        padding: 2px 5px 2px 5px;
        font-size: 16px;
    }
}

@media(max-width: 574px) {
    .formula {
        font-size: 18px;
    }
    .rule {
        font-size: 15px;
    }
    .first-example,
    .second-example,
    .third-example {
        font-size: 15px;
    }
	 .present-simple,
.present-continious,
.past-simple,
.past-continious,
.present-perfect,
.past-perfect,
.past-perfect-continious,
.future-simple,
.future-continious{
	padding: 7px 0px 0px 0px;
}
}

@media(max-width: 520px) {
    .title {
		 font-size: 23px;
	 }
    .formula {
        font-size: 17px;
    }
    .rule {
        font-size: 14px;
    }
    .first-example,
    .second-example,
    .third-example {
        font-size: 14px;
    }
}